.agenda {
    margin: 1rem 2.5rem 0 2.4rem;
}

.imagem__agenda {
    display: block;
}

.titulo__agenda1 {
    font-family: var(--fonte-principal);
    font-size: var(--titulos);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.bloco__agenda1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.bloco__esquerdo1 {
    background-color: var(--bloco-esquerdo);
    font-family: var(--fonte-principal);
    padding: 0.5rem 1.24rem;
    color: var(--branco);
}

.mes__agenda1 {
    font-size: 32px;
    font-weight: 400;
}

.data__agenda1 {
    font-size: 24px;
    font-weight: 400;
}

.hora__agenda1 {
    font-size: 24px;
    font-weight: 400;
}

.bloco__direito1 {
    background-color: var(--fundo-cards);
    padding: 0.5rem 1.9rem;
}

.dia__agenda1 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-secundario);
    color: var(--preto);
    padding-bottom: 2.3rem;
    padding-top: 0.5rem;
}

.botao__agenda1 {
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    padding: 0.5rem 1rem;
    background-color: var(--preto);
    text-decoration: none;
}



/* card agenda 2 */
.bloco__agenda2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.bloco__esquerdo2 {
    background-color: var(--bloco-esquerdo);
    font-family: var(--fonte-principal);
    color: var(--branco);
    padding: 0.5rem 1.5rem;
    
}

.mes__agenda2 {
    font-size: 32px;
    font-weight: 400;
}

.data__agenda2 {
    font-size: 24px;
    font-weight: 400;
}

.hora__agenda2 {
    font-size: 24px;
    font-weight: 400;
}

.bloco__direito2 {
    background-color: var(--fundo-cards);
    padding: 0.5rem 1.2rem;
}

.dia__agenda2 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-secundario);
    color: var(--preto);
    padding-bottom: 2.7rem;
    padding-top: 0.5rem;
}

.botao__agenda2 {
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    padding: 0.5rem 1rem;
    background-color: var(--preto);
    text-decoration: none;
}



/* card agenda 3 */
.bloco__agenda3 {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.bloco__esquerdo3 {
    background-color: var(--bloco-esquerdo);
    font-family: var(--fonte-principal);
    color: var(--branco);
    padding: 0.5rem 1.5rem;

}

.mes__agenda3 {
    font-size: 32px;
    font-weight: 400;
}

.data__agenda3 {
    font-size: 24px;
    font-weight: 400;
}

.hora__agenda3 {
    font-size: 24px;
    font-weight: 400;
}

.bloco__direito3 {
    background-color: var(--fundo-cards);
    padding: 0.5rem 1.2rem;
}

.dia__agenda3 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-secundario);
    color: var(--preto);
    padding-bottom: 2.7rem;
    padding-top: 0.5rem;
}

.botao__agenda3 {
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    padding: 0.5rem 1rem;
    background-color: var(--preto);
    text-decoration: none;
}



/* card agenda 4 */
.bloco__agenda4 {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.bloco__esquerdo4 {
    background-color: var(--bloco-esquerdo);
    font-family: var(--fonte-principal);
    padding: 0.5rem 1.3rem;
    color: var(--branco);
}

.mes__agenda4 {
    font-size: 32px;
    font-weight: 400;
}

.data__agenda4 {
    font-size: 24px;
    font-weight: 400;
}

.hora__agenda4 {
    font-size: 24px;
    font-weight: 400;
}

.bloco__direito4 {
    background-color: var(--fundo-cards);
    padding: 0.5rem 1.5rem;
}

.dia__agenda4 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-secundario);
    color: var(--preto);
    padding-bottom: 2.7rem;
    padding-top: 0.5rem;
}

.botao__agenda4 {
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    padding: 0.5rem 1rem;
    background-color: var(--preto);
    text-decoration: none;
}

.agenda4 {
    margin: 1rem 2.5rem 1.5rem 2.4rem;
}



/* segundo botão ver mais*/
.botao__ver-mais2 {
    color: var(--branco);
    background-color: var(--preto);
    padding: 0.7rem 1rem;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    margin: 0 7.5rem;
    text-align: center;
}
