.shows,
.arte {
    background-color: #FFC756;
    margin: 0 2.4rem;
    padding: 1rem;
    color: var(--branco);
    text-decoration: none;
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: var(--titulo-secundario);
    margin-bottom: 0.5rem;
}

.teatro,
.fotografia {
    background-color: #F66139;
    color: var(--branco);
    text-decoration: none;
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: var(--titulo-secundario);
    margin: 0 2.4rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.festivais,
.tecnologia {
    background-color: #7F8FFE;
    color: var(--branco);
    text-decoration: none;
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: var(--titulo-secundario);
    margin: 0 2.4rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.cinema,
.design {
    background-color: #56B78C;
    color: var(--branco);
    text-decoration: none;
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: var(--titulo-secundario);
    margin: 0 2.4rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.categoria {
    font-family: var(--fonte-principal);
    font-size: var(--titulo-secundario);
    font-weight: 400;
    margin: 1rem 0 1rem 2.4rem;
}




@media screen and (min-width: 720px) {
    .categorias {
        display: flex;
        gap: 1rem;
    }

    .shows {
        margin: 0;
        padding: 1rem 7.8rem;
        margin-left: 2.4rem;
        margin-bottom: 1rem;
    }
    .arte {
        margin: 0;
        padding: 1rem 7.4rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    .teatro {
        margin: 0;
        padding: 1rem 7.8rem;
        margin-left: 2.4rem;
        margin-bottom: 1rem;
    }

    .fotografia {
        margin: 0;
        padding: 1rem 7.4rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    .festivais {
        margin: 0;
        padding: 1rem 7.8rem;
        margin-left: 2.4rem;
        margin-bottom: 1rem;
    }

    .tecnologia {
        margin: 0;
        padding: 1rem 7.4rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    .cinema {
        margin: 0;
        padding: 1rem 7.8rem;
        margin-left: 2.4rem;
    }

    .design {
        margin: 0;
        padding: 1rem 7.4rem;
        margin-right: 2rem;
    }


}