.titulo__eventos {
    font-family: var(--fonte-principal);
    font-size: var(--titulos);
    padding: 1rem 2.5rem;
}

.proximos__eventos {
    margin-bottom: 1rem;
}

.contexto__card {
    background-color: var(--fundo-cards); 
    margin: 0 2.4rem 0 2.5rem;
    padding-left: 0.5rem;
}

.card__1 {
    padding: 0 2.5rem;
    display: block;
}

.titulo__card-1 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-secundario);
    font-weight: 600;
    padding: 1rem 0;
}

.data__card-1 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    font-weight: 400;
    padding-bottom: 2rem;
}

.cidade__card-1 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    font-weight: 400;
    padding-bottom: 1rem;
}

.cidade__botao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao__card-1 {
    color: var(--branco);
    background-color: var(--preto);
    padding: 0.5rem 2rem;
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    text-decoration: none;
    margin: 0 1rem 1rem 0;
}



/* segundo card */
.segundo__card {
    margin-bottom: 1rem;
}

.contexto__card {
    background-color: var(--fundo-cards); 
    margin: 0 2.4rem 0 2.5rem;
    padding-left: 0.5rem;
}

.card__2 {
    padding: 0 2.5rem;
    display: block;
}

.titulo__card-2 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-secundario);
    font-weight: 600;
    padding: 1rem 0;
}

.data__card-2 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    font-weight: 400;
    padding-bottom: 2rem;
}

.cidade__card-2 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    font-weight: 400;
    padding-bottom: 1rem;
}

.cidade__botao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao__card-2 {
    color: var(--branco);
    background-color: var(--preto);
    padding: 0.5rem 2rem;
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    text-decoration: none;
    margin: 0 1rem 1rem 0;
}




/* terceiro card */
.contexto__card {
    background-color: var(--fundo-cards); 
    margin: 0 2.4rem 0 2.5rem;
    padding-left: 0.5rem;
}

.card__3 {
    padding: 0 2.5rem;
    margin-top: 1rem;
    display: block;
}

.titulo__card-3 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-secundario);
    font-weight: 600;
    padding: 1rem 0;
}

.data__card-3 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    font-weight: 400;
    padding-bottom: 2rem;
}

.cidade__card-3 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    font-weight: 400;
    padding-bottom: 1rem;
}

.cidade__botao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao__card-3 {
    color: var(--branco);
    background-color: var(--preto);
    padding: 0.5rem 2rem;
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    text-decoration: none;
    margin: 0 1rem 1rem 0;
}




/* quarto card */
.contexto__card {
    background-color: var(--fundo-cards); 
    margin: 0 2.4rem 0 2.5rem;
    padding-left: 0.5rem;
}

.card__4 {
    padding: 0 2.5rem;
    margin-top: 1rem;
    display: block;
}

.titulo__card-4 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-secundario);
    font-weight: 600;
    padding: 1rem 0;
}

.data__card-4 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    font-weight: 400;
    padding-bottom: 2rem;
}

.cidade__card-4 {
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    font-weight: 400;
    padding-bottom: 1rem;
}

.cidade__botao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao__card-4 {
    color: var(--branco);
    background-color: var(--preto);
    padding: 0.5rem 2rem;
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    text-decoration: none;
    margin: 0 1rem 1rem 0;
}

.quarto__card {
    padding-bottom: 1.5rem;
}


/* primeiro botão ver mais*/
.botao__ver-mais1 {
    color: var(--branco);
    background-color: var(--preto);
    padding: 0.7rem 1rem;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: var(--titulo-terciario);
    text-align: center;
    margin: 0 7.5rem;
}

.contexto__card-direito {
    background-color: var(--fundo-cards); 
    margin: 0 2.4rem 0 2.5rem;
    padding-left: 0.5rem;
}



@media screen and (min-width: 720px) {
    .cards__container {
        display: grid;

    }

    .proximos__eventos:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .quarto__card:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .card__1 {
        padding: 0;
        padding-left: 2.4rem;
    }

    .contexto__card {
        margin: 0;
        margin-right: 2.5rem;
        padding-right: 1rem;
    }

    .contexto__card-direito {
        margin-left: 2.4rem;
        background-color: var(--fundo-cards);
        padding-right: 1rem;
        margin-right: 1.1rem;
        padding-left: 0.5rem;
    }

    .card__2 {
        padding: 0;
        padding-right: 1.5rem;
    }

    .card__3 {
        padding: 0;
        padding-left: 2.4rem;
        display: block;
    }

    .card__4 {
        padding: 0;
    }

    
}