.header {
    background-color: var(--preto);
    font-size: 16px;
    
}

.logo {
    padding: 1.5rem 0 1rem;
    padding-left: 8.5rem;
}

.links__header {
    display: flex;
    justify-content: space-around;
    padding: 0 0.5rem 2rem;
}

.seu__local {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.item__link {
    color: var(--branco);
    font-family: var(--fonte-principal);
}

.input {
    width: 85%;
    margin-left: 2rem;
    border: 2px solid var(--branco);
    background-color: transparent;
    border-radius: 10px;
    padding: 0.8rem;
    margin-bottom: 2rem;
}

.input::placeholder {
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    background: url("../images/search.svg") no-repeat;
    background-position: 17rem;
    align-items: center;
}